.micr-flex-position {
  display: flex;
  justify-content: space-between;
}
@media screen and ( max-width:1200px){
  .display1 {
    display: none;
  }
  
}
@media screen and ( max-width:992px){
  .display2 {
    display: none;
  }
  
}
@media screen and ( max-width:768px){
  .display3 {
    display: none;
  }
  
}